<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../css/style-sheet.css" />
		<title>VoxelShare</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
		</style>
	</head>
	<body>
		<div class="main">
			<div class="wrapper">
				<h1>Welcome To VoxelShare</h1>
				<h2>Please Select A File</h2>
				<div class="box">
					<div class="inputs">
						<form action="/upload" method="post" enctype="multipart/form-data">
							<div class="fileDiv">
								<label for="file">File› </label>
								<input type="file" id="file" name="file" required />
							</div>
							<div class="encryptionDiv">
								<label type="encryption" for="encryption">Encryption Code› </label>
								<input type="encryption" id="encryption" name="encryption" placeholder="Optional Key" />
								<button type="submit">Upload</button>
							</div>
						</form>
					</div>

					<% if (locals.fileLink != null) { %>
					<div class="output">
						<b>Your file was Uploaded successfully!</b>
						<br />
						<b>Download Link›</b>
						<a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
						<% if( !locals.secure && locals.fileUrl != null) { %>
						<br />
						<b>Direct Link›</b>
						<a href="<%= locals.fileUrl %>"><%= locals.fileUrl %></a>
						<% } %>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
